[Unit]
Description=LocalSend Auto-Start
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/lsq/scripts/localsend-autostart.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
