[Unit]
Description=rclone sync to Google Drive
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/rahul/desktop/projects/dotfiles/.config/rclone/scripts/sync-drive.sh

[Install]
WantedBy=default.target
