[Unit]
Description=Weekly Timeshift snapshot creation

[Service]
Type=oneshot
ExecStart=/home/rahul/.config/timeshift/scripts/timeshift-weekly.sh

[Install]
WantedBy=default.target
